* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  cursor: pointer;
}

body {
  margin: 0 auto;
  max-width: 720px;
  padding: 12px 48px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

dialog > ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

dialog > ul > li {
  display: flex;
  gap: 4px;
}

::backdrop {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
}

main {
}

section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 12px 0;
}

textarea {
  resize: vertical;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
